*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 350px;
    margin: 0 auto;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* Generic */ 

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

img{
    display: block;
}

h2{
    color: #0084fd
}

p{
    font-weight: 600;
    line-height: 25px;
}

/* Btn */

.btn{
    padding: 10px 20px;
    border-radius: 20px;
}

.btn-header{
    background-color: white;
    color: black;
}

.btn-main{
    background-color: #0084fd;
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    display: inline-block;
    letter-spacing: 3px;
    font-weight: 600;
}

/* Header */

header{
    height: 80px;
    background-color: #0084fd;
    
}

header .navbar{
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navbar-right ul{
    display: none;
}

/* Main */

.card{
    background-color:#b5ddff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    padding-top: 20px;

}

.card-right img{
    width: 200px;
}

/* Utilities */

.d-flex{
    display: flex;
}

.mg-r-10{
    margin-right: 10px;
}
.p-bott-20{
    padding-bottom: 20px;
}
    
.mg-b-20{
    margin-bottom: 20px;
}
.mg-b-50{
    margin-bottom: 50px;
}

.grid-white{
    background-color: white;
    padding: 50px 0;
}

.jus-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.color-grey{
    color: #5d7284;
}




/* Responsive */

@media screen and (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media screen and (min-width: 768px){
    .container{
        max-width: 730px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .col{
        flex-basis: calc(100% / 3);
        padding: 10px;
        flex-shrink: 0;
    }

    .col-large{
        flex-basis:calc(100% / 3 * 2) ;
    }

    .card-right{
        justify-content: flex-start;
    }

}

@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .navbar-right ul{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    .fa-bars{
        display: none;
    }
    .card{
        display: flex;
    }
    .card-right img{
      width: 250px;
    }
    .btn-main{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}